[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
asyncpg = "*"
alembic = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = "*"
sqlalchemy = "*"
asyncio = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
psycopg2-binary = "*"
fastapi-utils = "*"

[dev-packages]

[requires]
python_version = "3.10"
